*{
    margin: 0px;
    padding: 0px;
    
}

.menu-principal ul{
    display: inline-flex;
    list-style-type: none;
    margin-top: 9px;
}
#consultar{
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 15px;
    font-weight: bold;
}
#paso-btn{
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    background-color: var(--magenta);
    padding: 5px;
    margin-right: 10px;
    width: 100% !important;
}
#paso-btn:hover{
    background-color: var(--gris-claro);
}
#generales-btn{
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    background-color: var(--celeste);
    padding: 5px;
    margin-right: 10px;
    width: 100px !important;
}
#generales-btn:hover{
    background-color: var(--gris-claro);
}

.sec-messages {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 20px;
    padding: 15px;
    font-size: 12px;
    font-weight: 200px;
}

#mensaje-exito {
    display: inline-flex;
    height: 50px;
    color: #FFffFF;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    margin-top: 30px;
    background-color: var(--mensaje-usuario-verde);
}

#mensaje-error {
    display: flex;
    height: 50px;
    color: #FFffFF;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    margin-top: 30px;
    background-color: var(--mensaje-usuario-rojo);
}

#mensaje-no-completo {
    display: flex;
    height: 50px;
    color: #FFffFF;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    margin-top: 30px;
    background-color: var(--mensaje-usuario-amarillo);
}

#sec-titulo {
    margin-left: 40px;
}
#sec-contenido{
    width: 1024px;
    height: 300px;
    margin: 0px auto 50px auto;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
    padding: 20px;
}
#sec-contenido th{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #727272;
}
#sec-contenido tr:hover{
    background-color: rgb(250, 250, 250);
}
#sec-contenido td{
    font-size: 12px;
}
.tabla-iconos{
    display: inline-flex;
    justify-content: center;
    margin: 0px;
}
.escrutadas {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 110px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.electores {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 110px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.participacion {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 110px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.participacion p,
.escrutadas p,
.electores p {
    color: white;
}
.tabla-elecciones{
    max-width: 80px;
}



:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}